@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font: 1.2rem/1.6 'Raleway', sans-serif;
  overflow-x: hidden;
}

.input {
  @apply bg-dark text-light-gray rounded p-4 pl-14 w-full focus:outline focus:outline-dark-blue focus:outline-2;
}